@use "../abstracts/mixins" as *;

main {
    margin: 0 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include desktop {
    main {
        flex-direction: row;
    }
}