@use "../abstracts/variables" as *;

.sedan {
    background-color: $bright-orange;
}
.suv {
    background-color: $dark-cyan;
}
.luxury {
    background-color: $very-dark-cyan;
}
.card {
    padding: 48px;
    border-radius: 8px;
    &-heading {
        margin: 35px 0 25px;
    }
    &-desc {
        margin-bottom: 36px;
    }
    &-btn {
        padding: 12px 32px;
        background-color: $very-light-gray;
        border-radius: 25px;
    }
}