@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.suv,
.luxury {
    position: relative;
}

.sedan {
    background-color: $bright-orange;
}
.suv {
    background-color: $dark-cyan;
    bottom: 0.7em;
}
.luxury {
    background-color: $very-dark-cyan;   
    bottom: 1.4em;
}
.card {
    padding: 48px;
    border-radius: 8px;
    &-heading {
        margin: 35px 0 25px;
    }
    &-desc {
        margin-bottom: 36px;
    }
    &-btn {
        padding: 12px 32px;
        background-color: $very-light-gray;
        border-radius: 25px;
    }
}
@include desktop {
    .suv,
    .luxury {
        bottom: 0;
    }
    .suv {
        right: 0.7em;
    }
    .luxury {
        right: 1.4em;
    }
    .card {
        width: 307px;
        &-desc {
            margin-bottom: 94px;
        }
    }
}